/*Null style*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a{color:#000}

nav,footer,header,aside{display: block;}
html, body {width: auto!important; overflow-x: hidden!important} 
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none; cursor: pointer;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: 'Poppins', sans-serif;
	color: #000;
}


.wrapper{
	max-width: 100%;
    display: flex;
  	flex-direction: column;
 	min-height: 100vh;
}
.navbarr{
	width: 100%;
	padding: 2rem 3rem;
	background-color: #fff;
}

.navbarcontainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.navbar__nav{
	display: flex;
}
.navbar__logo{
	font-size: 1.5rem;
	margin-right: 3rem;
}

.navbar__nav a{
	font-size: 1.5rem;
	margin-right: 3rem;
}
.navbar__nav a:hover{
	color:#ebaac0;
	transition: all 0.3s ease;
}
.navbar__open{
	display: none;
	cursor:pointer;
}

.navbar__close{
	display: none;
	cursor:pointer;
}

.nav__icons img{
	width: 100%;
	height: auto;
	max-width: 1.5rem;
}

.home__img{
	margin-bottom: 3rem;
}

.home__img img{
	width: 100%;
	height: auto;
}

.content{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}
.titles{
	font-size: 1.5rem;
}

.titles::after{
	content: "";
	display: block;
	width: 6.3rem;
	height: 0.2rem;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.2);
}

.content__choice{
	margin-bottom: 4rem;
}
.content__choice button{
	margin: 0 1.25rem;
	margin-bottom: 1rem;
	font-size: 1.15rem;
}

.btn{
	color:#000;
	padding: 0.75rem 2.3rem;
	background-color: #e8e8e8;
	border-radius: 2.1rem;
}

.btn:hover{
	background-color: #f5dbe4;
	transition: all 0.4s ease;
}

.pressed{
	background-color: #f8d2df;
	color: #000000;
}

.hideItem{
	display: none;
}

.goods{
	margin-bottom: 2rem;
}

.goods__container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.goods__item {
	width: 20rem;
	text-align: center;
	padding: 1.8rem 1.25rem;
}

.goods__item:hover{
	color:#000;
	transform: scale(1.1);
	box-shadow: 0px 0px 1.25rem 0px rgba(0, 0, 0, 0.1);
	transition: all 0.4s ease-out;
}

.item__img{
	margin-bottom: 1.4rem;
}

.item__img img{
	max-width: 4.4rem;
	width: 100%;
	height: auto;
}

.item__brand{
	font-size: 0.8rem;
	margin-bottom: 0.625rem;
}

.item__name{
	font-size: 1.25rem;
  	font-weight: 700;
	margin-bottom: 0.625rem;
}

.item__info{
	font-size: 0.8rem;
	margin-bottom: 1.25rem;
}

.item__measure{
	font-size: 12.5px;
	margin-bottom: 1.25rem;
}

.item__price{
	color: #b73c3c;
	font-size: 1.25rem;
	font-weight: 700;
}

.emailform{
	max-width: 100%;
	margin-bottom: 3.75rem;
	background-color: #f5dbe4;
	padding: 2rem 0;
}

.emailform__container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.emailform__info{
	max-width: 30rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	font-weight: 600;
	color: #404040;
}

.input{
	font-size: 0.9rem;
	padding: 0.5rem 1.5rem;
	margin-bottom: 0.625rem;
	margin-right: 0.625rem;
	border-radius: 2rem;
  	border: solid 1px #000;
  	background-color: rgba(246, 246, 246, 0.5);
}
.submit{
	padding: 0.7rem 1.5rem;
	font-size: 0.8rem;
}

.submit:hover{
	background-color: #ffb0c9;
	transition: all 0.3s ease;
}

.recomended{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	flex: 1;
}

.recomended__title{
	margin-bottom: 1.5rem;
}
footer{
	background-color: #f5dbe4;
	font-family: 'Poppins', sans-serif;
}

.links{
	font-size: 1.15rem;
}

.footer__logo{
	font-size: 1.5rem;
	font-family: 'Brawler', serif;
}

.links a img{
	width: 100%;
	max-width: 1.3rem;
	height: auto;
}

.wrapper__container{
	max-width: 80rem;
}

.logo{
	font-family: 'Brawler', serif;
}
.logo:hover{
	color:#ebaac0;
	transition: all 0.3s ease;
}

@media (max-width:910px) {
	.emailform__container{
		padding: 0 2rem;
	}
	.footer__container{
		padding: 0 2rem;
	}
}

@media all and (max-width: 510px){
	.emailform__info{
		font-size: 1.1rem;
	}
	.emailform{
		padding: 1.5rem 2rem;
	}

	.emailform__container{
		margin: 0 auto;
		padding: 0;
	}

	.input{
		font-size: 0.9rem;
		padding: 0.3rem 1rem;
	}
	.submit{
		padding: 0.3rem 1rem;
	}
	
	.content__choice{
		margin-bottom: 2rem;
	}
	.content__choice button{
		margin: 0 0.4rem;
		margin-bottom: 0.5rem;
		font-size: 0.9rem;
		padding: 0.6rem 1.5rem;
	}

}

@media (max-width:690px) {
	.navbar__nav a{
		font-size: 1.1rem;
	}
}

@media (max-width:630px) {
	.navbar__nav{
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		display: none;
	}

	.navbar__nav a{
		font-size: 1.8rem;
		margin-bottom: 3rem;
		text-align: center;
		margin-right: 0;
	}

	.navbar__close{
		display: block;
		position:absolute;
		top: 30px;
		right: 40px;
	}

	.navbar__open{
		display: block;
	}
}