/*Null style*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a{color:#000}

nav,footer,header,aside{display: block;}
html, body {width: auto!important; overflow-x: hidden!important} 
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none; cursor: pointer;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: 'Poppins', sans-serif;
	color: #000;
}


.wrapper{
	max-width: 100%;
    display: flex;
  	flex-direction: column;
 	min-height: 100vh;
}
.navbar{
	width: 100%;
	padding: 2rem 3rem;
	background-color: #fff;
	border-bottom: 1px solid #000;
	margin-bottom: 3rem;
}

.navbar__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.navbar__nav{
	display: flex;
	flex-wrap: wrap;
}
.navbar__logo{
	font-size: 1.5rem;
	margin-right: 3rem;
}

.navbar__nav a{
	font-size: 1.5rem;
	margin-right: 3rem;
}
.navbar__nav a:hover{
	color:#ebaac0;
	transition: all 0.3s ease;
}

.navbar__open{
	display: none;
	cursor:pointer;
}

.navbar__close{
	display: none;
	cursor:pointer;
}

.nav__icons img{
	width: 100%;
	height: auto;
	max-width: 1.5rem;
}

.cart{
	width: 100%;
	padding: 0 1rem;
	margin-bottom: 4rem;
}

.cart__container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.cart__img{
	margin-right: 5rem;
}

.cart__img img{
	width: 100%;
	height: auto;
	max-width: 30rem;
}

.detail__brand{
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.detail__title{
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 1.3rem;
}

.detail__measure{
	display: flex;
	margin-bottom: 2.3rem;
}

.measure{
	font-size: 0.7rem;
	margin-right: 0.7rem;
	padding: 0.25rem 1.05rem;
	background-color: #e8e8e8;
	border-radius: 2.1rem;
}

.measure:hover{
	background-color: #f5dbe4;
	transition: all 0.3s ease;
}

.detail__price{
	font-size: 1.8rem;
  	font-weight: 700;
	margin-bottom: 2.3rem;
}

.detail__add{
	display: flex;
	align-items: center;
	font-size: 1.1rem;
}

.add__count{
	display: flex;
	align-items:center;
	background-color: #e8e8e8;
	margin-right: 2rem;
	border-radius: 2.1rem;
}

.add__count button{
	background: none;
	padding: 0.2rem 1.6rem;
}

.add__tocart{
	font-size: 1rem;
	padding: 0.4rem 1.5rem;
	background-color: #f5dbe4;
	border-radius: 2.1rem;
}
.add__tocart:hover{
	transform: scale(1.05);
	transition: all 0.3s ease;
}

.descrip{
	margin: 0 auto;
}

.descrip__title{
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.7rem;
}
.descrip__info{
	line-height: 1.3rem;
	font-size: 0.9rem;
}

.title{
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0.8rem;
}

.info{
	font-size: 1.2rem;
}

.content{
	display: flex;
	flex-direction: column;
	padding: 0 12rem;
}
.titles{
	font-size: 1.5rem;
}

.titles::after{
	content: "";
	display: block;
	width: 6.3rem;
	height: 0.2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.875rem;
	background-color: rgba(0, 0, 0, 0.2);
}

.btn{
	color: #000;
	padding: 0.75rem 2.3rem;
	background-color: #e8e8e8;
	border-radius: 2.1rem;
}

.btn:active{
	background-color: #f5dbe4;
	color: #ebaac0;
}
.btn:hover{
	background-color: #f5dbe4;
	transition: all 0.3s ease;
}

.goods{
	margin-bottom: 2rem;
}

.goods__container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.goods__item {
	width: 20rem;
	text-align: center;
	padding: 1.8rem 1.25rem;
}

.goods__item:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 1.25rem 0px rgba(0, 0, 0, 0.1);
	transition: all 0.4s ease-out;
}

.item__img{
	margin-bottom: 1.4rem;
}

.item__img img{
	max-width: 4.4rem;
	width: 100%;
	height: auto;
}

.item__brand{
	font-size: 0.8rem;
	margin-bottom: 0.625rem;
}

.item__name{
	font-size: 1.25rem;
  	font-weight: 700;
	margin-bottom: 0.625rem;
}

.item__info{
	font-size: 0.8rem;
	margin-bottom: 1.25rem;
}

.item__measure{
	font-size: 12.5px;
	margin-bottom: 1.25rem;
}

.item__price{
	color: #b73c3c;
	font-size: 1.25rem;
	font-weight: 700;
}

.recomended{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	flex: 1;
}

.recomended__title{
	margin-bottom: 1.5rem;
}
.recomended__title::after{
	margin: 0 auto;
	margin-top: 1.5rem;
	margin-bottom: 1.875rem;
}

footer{
	width: 100%;
	background-color: #f5dbe4;
	padding: 1.6rem;
}

.footer__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;	
}

.footer__logo{
	font-size: 1.875rem;
	margin-right: 5rem;
}

.line{
	width: 0.2rem;
	height: 6.25rem;
	background-color: rgba(0, 0, 0, 0.2);
	margin-right: 5rem;
}

.footer__links{
	margin-right: 5rem;
}

.links a{
	font-size: 1.1rem;
	margin-right: 1.3rem;
	margin-bottom: 1rem;
}
.links a:hover{
	color:#da6b8e;
	transition: all 0.3s ease;
}

.links{
	margin-bottom: 0.8rem;
}

.smalltext{
	font-size: 0.625rem;
}

.icons{
	margin-bottom: 0.8rem;
}

.icons a img{
	width: 100%;
	max-width: 1.3rem;
	height: auto;
}
.icons a{
	margin-right: 1.3rem;
}

.container{
	max-width: 60rem;
}

.logo{
	font-family: 'Brawler', serif;
}

@media (max-width: 910px) {
	.footer__container{
		padding: 0 2rem;
	}
}

@media all and (max-width: 510px){
	footer{
		padding: 2rem;
	}

	.footer__container{
		padding: 0;
	}

	.footer__logo{
		font-size: 1.3rem;
		margin-right: 1.5rem;
	}
	
	.line{
		display: none;
	}
	
	.footer__links{
		margin-right: 1.1rem;
	}
	
	.links a{
		font-size: 0.9rem;
		margin-right: 0.6rem;
	}	
	.icons{
		margin-bottom: 0.8rem;
	}
	
	.icons a img{
		width: 100%;
		max-width: 1.1rem;
		height: auto;
	}
	.icons a{
		margin-right: 0.4rem;
	}
}

@media (max-width: 652px) {
	.cart__img{
		margin-right: 3rem;
	}
}

@media (max-width: 630px) {
	.cart__img{
		margin-right: 2rem;
	}
	.cart__img img{
		max-width: 20rem;
	}
	.detail__brand{
		font-size: 0.8rem;
	}
	
	.detail__title{
		font-size: 2rem;
		margin-bottom: 1.3rem;
	}
	
	.detail__price{
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
	
	.add__count{
		margin-right: 1rem;
	}
	
	.add__count button{
		padding: 0.2rem 1rem;
	}
	
	.add__tocart{
		font-size: 0.9rem;
		padding: 0.4rem 1rem;
	}
	
	.descrip{
		margin: 0 auto;
	}
	
	.descrip__title{
		font-size: 1rem;
		margin-bottom: 0.7rem;
	}
	.descrip__info{
		line-height: 1.3rem;
		font-size: 0.9rem;
	}
}

@media (max-width: 460px) {
	.cart__img{
		margin-right: 2rem;
	}
	.cart__img img{
		max-width: 20rem;
	}
	.detail__brand{
		font-size: 0.8rem;
	}
	
	.detail__title{
		font-size: 1.7rem;
		margin-bottom: 1rem;
	}
	.detail__measure{
		margin-bottom: 2rem;
	}

	.detail__price{
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
	
	.add__count{
		margin-right: 1rem;
	}
	
	.add__count button{
		padding: 0.2rem 1.1rem;
	}
	
	.add__tocart{
		font-size: 0.9rem;
		padding: 0.4rem 1rem;
	}
	
	.descrip__title{
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}
	.descrip__info{
		line-height: 1.3rem;
		font-size: 0.85rem;
	}
}
@media (max-width: 440px) {
	.detail__brand{
		font-size: 0.7rem;
	}
	
	.detail__title{
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
	.detail__measure{
		margin-bottom: 2rem;
	}

	.detail__price{
		font-size: 1.4rem;
		margin-bottom: 2rem;
	}
	
	.add__count{
		margin-right: 1rem;
	}
	
	.add__count button{
		padding: 0.1rem 1.1rem;
	}
	
	.add__tocart{
		font-size: 0.8rem;
		padding: 0.4rem 1rem;
	}
	
	.descrip__title{
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
	}
	.descrip__info{
		line-height: 1.3rem;
		font-size: 0.75rem;
	}
}
@media (max-width: 410px) {
	.detail__brand{
		font-size: 0.7rem;
	}
	
	.detail__title{
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	.detail__measure{
		margin-bottom: 1.3rem;
	}

	.detail__price{
		font-size: 1.2rem;
		margin-bottom: 1.3rem;
	}
	
	.add__count{
		margin-right: 1rem;
	}
	
	.add__count button{
		padding: 0.1rem 1.1rem;
	}
	
	.add__tocart{
		font-size: 0.8rem;
		padding: 0.4rem 1rem;
	}
	
	.descrip__title{
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
	}
	.descrip__info{
		line-height: 1.3rem;
		font-size: 0.75rem;
	}
}
@media (max-width: 390px) {
	.detail__brand{
		font-size: 0.6rem;
		margin-bottom: 0.2rem;
	}
	
	.detail__title{
		font-size: 1.3rem;
		margin-bottom: 0.6rem;
	}
	.detail__measure{
		margin-bottom: 1.3rem;
		font-size: rem;
	}

	.measure{
		font-size: 0.6rem;
	}

	.detail__price{
		font-size: 1.2rem;
		margin-bottom: 1.3rem;
	}
	
	.add__count{
		margin-right: 1rem;
		font-size: 0.85rem;
	}
	
	.add__count button{
		padding: 0.1rem 1rem;
	}
	
	.add__tocart{
		font-size: 0.8rem;
		padding: 0.3rem 1.2rem;
	}
	
	.descrip__title{
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
	}
	.descrip__info{
		line-height: 1.3rem;
		font-size: 0.75rem;
	}
}

@media (max-width:690px) {
	.navbar__nav a{
		font-size: 1.1rem;
	}
}

@media (max-width:630px) {
	.navbar__nav{
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		display: none;
	}

	.navbar__nav a{
		font-size: 2.5rem;
		padding: 1.6rem;
		text-align: center;
		margin-right: 0;
	}

	.navbar__close{
		display: block;
		position:absolute;
		top: 30px;
		right: 40px;
	}

	.navbar__open{
		display: block;
	}
}